<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="format-detection" content="email=no" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <title>学习中心</title>
    <link rel="stylesheet" href="css/skin.css">

</head>
<body>
<div class="today_study" id="index" v-cloak="">
    <div class="topTip">
        页码：{{currentPage}}/{{totalPage}}
        <template v-if="currentPage != totalPage">
            (下拉可刷新)
        </template>
    </div>
    <div class="container">
        <vue-pull-refresh :on-refresh="onRefresh">
            <template v-for="(item,index) in showLearningList">
                <div class="video_box">
                    <div class="video_con">
                        <video preload="none" controls :src="item.src" poster="./images/a-bg.jpg"></video>
                    </div>
                </div>
                <div class="ebook_container">
                    <div class="ebook_content">
                        <p>{{item.value}}-{{item.key}}</p>
                    </div>
                </div>
            </template>
        </vue-pull-refresh>
    </div>
</div>
<script charset="UTF-8" src="../lib/vuejs/2.0.6/vue.min.js"></script>
<script charset="UTF-8" src="../lib/vue-resource/1.5.1/vue-resource.min.js"></script>
<script src="../lib/vue-pull-refresh/send.min.js"></script>
<script>
    new Vue({
        el: '#index',
        data: {
            learningList: [],
            showLearningList: [],
            currentPage: 1,
            totalPage: 0,
            pageSize: 3,
            ops: {
                vuescroll: {
                    mode: 'slide',
                    pullRefresh: {
                        enable: true,
                        tips: {
                            deactive: '下拉更新数据',
                            active: '刷新',
                            start: '加载中...',
                            beforeDeactive: '拉取成功'
                        }
                    },
                }
            },
            refresh: false
        },
        components: {
            'vue-pull-refresh': VuePullRefresh
        },
        methods: {
            load: function () {
                const self = this;
                self.$http.get('https://www.17parent.com/data/logsDetailById?ball_robot=allow&id=5b7a8b50cf2aa85218809865').then((response) => {
                    let m = JSON.parse(response.data.content[0].op);
                    let l = Object.keys(m).map((k) => {
                        return {
                            key: k,
                            value: m[k].name,
                            src: m[k].url === '' ? `http://xinqiang.wang/svn/svn/shuoshuo/pinkfong/${k}.mp4` : m[k].url
                        }
                    });
                    self.learningList = l.reverse();
                    self.totalPage = Math.ceil(l.length / self.pageSize);
                    self.showLearningList = [...self.learningList].splice(0, self.pageSize);
                }, (response) => {
                    console.error(response);
                    self.learningList = [];
                });
            },


            fetchSearchList() {
                console.info("fetchSearchList");
                const self = this;
                self.showLearningList = [...self.learningList].splice(0, self.pageSize * self.currentPage).reverse();
                self.refresh = false;
            },

            onRefresh(){
                const self = this;
                return new Promise((resolve, reject)=> {
                    if (self.refresh) {
                        alert("数据加载中...")
                    }
                    self.refresh = true;
                    console.info(self.refresh);
                    console.info("总页数 " + self.totalPage);
                    console.info("当前页 " + self.currentPage);
                    if (self.refresh && self.totalPage > self.currentPage) {
                        self.currentPage += 1;
                        setTimeout(()=>{
                            self.fetchSearchList();
                            resolve();
                        },500);
                    }else{
                        self.refresh = false;
                        resolve();
                    }
                });
            }
        },

        mounted() {
            this.load();
        }
    });

</script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-46594559-6"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-46594559-6');
</script>

</body>
</html>